p {
  color: rgb(231, 110, 110);
  text-align: center;
}

.special {
  background-color: yellowgreen;
}
.color1 {
  background-color: #30011e;
}
.rgb {
  background-color: rgb(25, 255, 5, 50%);
}
/* 
background-color avec image */

.img_background {
  background-image: url("../img/fig10.jpg"); /*image de fond*/
  background-repeat: no-repeat;
  background-position: left bottom;

  /*background-position: left top   */
  background-attachment: fixed;
  /* background-size: cover; l'image couvre toute la page */
  background-size: contain; /*l'image couvre toute la page et sera toujour visible */
}

.img_background p {
  padding: 25px;
}

/* background repeat  repeter c'est par defaut 
repeat-x */

/*  background-position
jouer avec la position de l'image 
*/


